*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1f1;
}
/*header*/ 
.headerAcceuil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}
.logo{
    margin: 20px;
    width: 100px;
}
.headerNav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px;
}
.headerNav ul li a{
    margin: 0 20px;
    display: flex;
    justify-content: center ;
    align-items: center;
    text-decoration: none;
    color: #f1f1f1f1;
    font-weight: bold;
    transition: 0.3s;
    
}
.headerNav ul li a:hover{
    color: #f1f1f1f1;
    background-color: #333;
    border-radius: 5px;
    padding: 5px 10px;
}
.headerNav ul li a i{
    margin-right: 5px;
}
main{
background-image: url(../images/TaeAugust07.jpg);
background-size: cover;
background-position: center;
height: 100vh;
display: flex;
align-items: center;
}
/*section 1 presentation*/

.section1{
    padding: 20px;
}
.section1 .image1{
    width: 100%;
    display: flex;
    display: cover;
    justify-content: center;
    align-items: center;
}
.section1 div{
margin: 20px;
padding: 30px;
position: absolute;
background-color: #7b7b7b5c;
color: #f1f1f1f1;
border-radius: 10px;
box-shadow: 0 0 10px #333;
width: 40%;

}



/*section 2 services*/
.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.services div{
    width: 30%;
    background-color: #f1f1f1f1;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
}
.services img{
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: end;
}
.services h3{
    margin: 20px 0;
    color: #815959;

}
.services p{
    color: rgb(39, 19, 212);
}
.services :hover{
    background-color: #e67300;
    transition: 0.9s;
}

/*footer contact*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: #333;

}
footer div{
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
}
footer p{
    font-size: 16px;
    color: #f1f1f1f1;
}
footer h3{
    color: #f1f1f1f1;
}
footer .socialMedia a{
    margin: 0 10px;
    color: #f1f1f1f1;
    font-size: 20px;
    text-decoration: none;

}

/*footer*/

/*page connexion*/
.pageConnexion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pageConnexion div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #7b7b7b5c;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
}
.pageConnexion form{
    width: 50%;
    margin: 0 auto;
    padding: 20px;

}
.pageConnexion form input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}
.pageConnexion form .connexion{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #f1f1f1f1;
    font-weight: bold;
    cursor: pointer;
}
.pageConnexion form .connexion:hover{
    background-color: #f1f1f1f1;
    color: #333;
}
.pageConnexion form a{
    text-decoration: none;
    color: #f1f1f1f1;
    font-weight: bold;
}
.pageConnexion form a:hover{
    color: #333;
}

/*page inscription*/
.pageInscription div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #7b7b7b5c;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    width: 50%;
    margin: 0 auto;
}
.pageInscription form{
    width: 50%;
    margin: 0 auto;
    padding: 20px;

}
.pageInscription form input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}
.pageInscription form button{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #f1f1f1f1;
    font-weight: bold;
    cursor: pointer;
}
.pageInscription form button:hover{
    background-color: #f1f1f1f1;
    color: #333;
}
.pageInscription form a{
    text-decoration: none;
    color: #f1f1f1f1;
    font-weight: bold;
}
.pageInscription form a:hover{
    color: #333;
}

/*page acceuil*/

.Historique{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.Historique div{
    width: 50%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    background-color: #7b7b7b5c;

}

.Historique h3{
    color: #f1f1f1f1;
}
.Historique p{
    color: #f1f1f1f1;

}
.Historique img{
    width: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: end;
}
.Historique div.future:hover{
    background-color: #274837;
    transition: 0.9s;
}
.Historique div.passer:hover{
    background-color: #4b4b4b7a;
    transition: 0.9s;
}


/*page historique*/

/*historique à venir*/
.histoAVenir{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    
}
div.histoAVenir{
    width: 50%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    background-color: #7b7b7b5c;
}
div.histoAVenir div p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
/*historique passé*/
.histoPasse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #e67300;
}
div.histoPasse{
    width: 50%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    background-color: #7b7b7b5c;
}
section.pageHistorique{
display: flex; 
justify-content: center;
align-items: center;
flex-wrap: wrap ;
width: 70%;
}
/*historique en cours*/
.histoEnCours{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #e67300;
}
div.histoEnCours{
    width: 50%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    background-color: #7b7b7b5c;
}
